# Ignorer le dossier .vs
.vs/

# Ignorer les fichiers de build
bin/
obj/

# Ignorer les fichiers de configuration utilisateur
*.user
*.userosscache
*.suo
*.userprefs

lib/
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.csproj.user
launchSettings.json
.idea/.idea.Todo/.idea/workspace.xml
.idea/.idea.Todo/.idea/projectSettingsUpdater.xml
